
/*
*  Set $use-silent-classes true to generate silent classes of the normal css classes
*  Set $use-silent-classes false if you don't want to generate silent classes of the normal css classes
*/
$use-silent-classes:               true;
//Type class
$silent-class:                     "%";
$css-class:                        ".";

//colors
$primary-color: #66d6da;
$secondary-color: #7b4b95;
$third-color: #fff;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$disable-color: #868e96;

// Media Queries and grid settings
$screen-extra-small:              	480px!default;
$screen-small:                    	620px!default;
$screen-medium:                   	768px!default;
$screen-large:                    	1024px!default;
$screen-extra-large:              	1280px!default;

// Typography
$font-size-h1:                      36px;
$font-size-h2:                      30px;
$font-size-h3:                      28px;
$font-size-h4:                      18px;
$font-size-h5:                      14px;
$font-size-h6:                      12px;

//directions
$directions-breakpoints :          ('top', 'bottom', 'left', 'right');
$directions-y-breakpoints :        ('top', 'bottom');
$directions-x-breakpoints :        ('left', 'right');

//Margin
$margin-base: 5px;
//Border
$border-base-radius: 4px;
