/*------------------------------------*\
   TYPOGRAPHY
\*------------------------------------*/
$font-family-sans-serif:            "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$fontSizes: (
    "atomic":         10px,
    "micro":          20px,
    "tiny":           30px,
    "small":          40px,
    "reduced":        50px,
    "regular":        60px,
    "increased":      70px,
    "large":          80px,
    "huge":           90px,
    "giant":          100px
);

@each $name, $value in $fontSizes {
    //Css class
    #{$css-class}text--#{$name} {
        font-size:$value;
    };
    //Silent class
    #{$silent-class}text--#{$name} {
        font-size:$value;
    };
};
   /*------------------------------------*\
      HEADING CLASSES
   \*------------------------------------*/

   .h1 {
     font-size: $font-size-h1;
   }
   .h2 {
     font-size: $font-size-h2;
   }
   .h3 {
     font-size: $font-size-h3;
   }
   .h4 {
     font-size: $font-size-h4;
   }
   .h5 {
     font-size: $font-size-h5;
   }
   .h6 {
     font-size: $font-size-h6;
   }
